body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
.contentSection {
  flex: 5;
  background-color: #e1fdff;
}
.stickyBar{
  padding: 12px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.2);
  display: flex;
  .child {
    margin: auto 0 auto auto;
    color: gray;
    font-size: 15px;
    span:nth-of-type(1) {
      font-size: 13px;
    }
  }
  h2{
    opacity: 0.8;
    font-weight: 400;
  }
  span {
    font-size: 20px;
    margin-left: 15px;
    padding: 10px;
  }
  .navPosition{
    float: right;
  }
}